In [1]:
import math, time, random, datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno
import pickle
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv("UNSW_NB15_training-set.csv")
test = pd.read_csv("UNSW_NB15_testing-set.csv")

In [3]:
train.head()

   id       dur proto service  ... ct_srv_dst  is_sm_ips_ports  attack_cat  label
0   1  0.000011   udp       -  ...          2                0      Normal      0
1   2  0.000008   udp       -  ...          2                0      Normal      0
2   3  0.000005   udp       -  ...          3                0      Normal      0
3   4  0.000006   udp       -  ...          3                0      Normal      0
4   5  0.000010   udp       -  ...          3                0      Normal      0

[5 rows x 45 columns]

In [4]:
test.head()

   id       dur proto service  ... ct_srv_dst  is_sm_ips_ports  attack_cat  label
0   1  0.121478   tcp       -  ...          1                0      Normal      0
1   2  0.649902   tcp       -  ...          6                0      Normal      0
2   3  1.623129   tcp       -  ...          6                0      Normal      0
3   4  1.681642   tcp     ftp  ...          1                0      Normal      0
4   5  0.449454   tcp       -  ...         39                0      Normal      0

[5 rows x 45 columns]

In [5]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
data = pd.concat([train,test]).reset_index(drop = True)
cols_cat = data.select_dtypes("object").columns
cols_numeric = data._get_numeric_data().columns

In [6]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
data["service"].unique() # get rid of "-"
data["service"] = np.where(data["service"]=='-', "None", data["service"])
print(data["service"].unique())

['None' 'http' 'ftp' 'ftp-data' 'smtp' 'pop3' 'dns' 'snmp' 'ssl' 'dhcp'
 'irc' 'radius' 'ssh']

In [7]:
data = pd.get_dummies(data, columns = ["proto", "service", "state", "attack_cat"], dtype = "float64")

In [8]:
data.drop(["attack_cat_Analysis", "attack_cat_Backdoor", "attack_cat_Exploits",
            "attack_cat_Fuzzers", "attack_cat_Reconnaissance", "attack_cat_Shellcode",
            "attack_cat_Worms", "attack_cat_Generic"], axis = 1, inplace = True)

In [9]:
data.head()

   id       dur  spkts  ...  state_no  attack_cat_DoS  attack_cat_Normal
0   1  0.000011      2  ...       0.0             0.0                1.0
1   2  0.000008      2  ...       0.0             0.0                1.0
2   3  0.000005      2  ...       0.0             0.0                1.0
3   4  0.000006      2  ...       0.0             0.0                1.0
4   5  0.000010      2  ...       0.0             0.0                1.0

[5 rows x 200 columns]

In [10]:
data_drop = data.drop(["id", "attack_cat_DoS", "attack_cat_Normal"], axis = 1)

#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
cols_numeric = list(cols_numeric)
cols_numeric.remove("label")
cols_numeric.remove("id")

In [11]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
data_drop[cols_numeric] = (data_drop[cols_numeric] - np.min(data_drop[cols_numeric])) / np.std(data_drop[cols_numeric])

In [12]:
data_drop.head()

            dur     spkts  dpkts  ...  state_RST  state_URN  state_no
0  1.841222e-06  0.007356    0.0  ...        0.0        0.0       0.0
1  1.339070e-06  0.007356    0.0  ...        0.0        0.0       0.0
2  8.369190e-07  0.007356    0.0  ...        0.0        0.0       0.0
3  1.004303e-06  0.007356    0.0  ...        0.0        0.0       0.0
4  1.673838e-06  0.007356    0.0  ...        0.0        0.0       0.0

[5 rows x 197 columns]

In [13]:
# now eda removals

In [14]:
data_drop.drop(["dur", "rate", "sloss", "djit", "tcprtt", "trans_depth", "ct_src_dport_ltm", "ct_flw_http_mthd",
                      "proto_3pc", "proto_aris", "proto_br-sat-mon", "proto_cphb", "proto_ddp", "proto_emcon",
                      "proto_ggp", "proto_iatp", "proto_idrp", "proto_ip", "proto_ipnip", "proto_ipv6-opts", 
                      "proto_iso-ip", "proto_leaf-1", "proto_micp", "proto_netblt", "proto_pim", "proto_ptp",
                      "proto_rsvp", "proto_sccopmce", "proto_sep", "proto_sprite-rpc", "proto_sun-nd", "proto_tp++",
                      "proto_unas", "proto_vrrp", "proto_xns-idp", "service_dns", "service_pop3", "service_ssl", "state_FIN",
                      "state_URN"], axis = 1, inplace = True)

In [15]:
data_drop.head()

      spkts  dpkts    sbytes  dbytes  ...  state_PAR  state_REQ  state_RST  state_no
0  0.007356    0.0  0.002716     0.0  ...        0.0        0.0        0.0       0.0
1  0.007356    0.0  0.010002     0.0  ...        0.0        0.0        0.0       0.0
2  0.007356    0.0  0.006008     0.0  ...        0.0        0.0        0.0       0.0
3  0.007356    0.0  0.005041     0.0  ...        0.0        0.0        0.0       0.0
4  0.007356    0.0  0.012096     0.0  ...        0.0        0.0        0.0       0.0

[5 rows x 157 columns]

In [16]:
from sklearn import model_selection
from sklearn import metrics
X = data_drop.drop("label", axis = 1)
Y = data_drop["label"]

In [17]:
global X

In [18]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
def fit_algo(algo, x, y, cv):
    model = algo.fit(x, y)
    
    #check its score
    acc = round(model.score(x, y) *100, 2)
    y_pred = model_selection.cross_val_predict(algo, x, y, cv = cv,
                                              n_jobs = -1)
    
    acc_cv = round(metrics.accuracy_score(Y,y_pred)*100,2)
    
    return y_pred, acc, acc_cv, model

In [19]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
from sklearn.linear_model import LogisticRegression
start_time = time.time()

pred_now, acc_lr, acc_cv_lr, lr = fit_algo(LogisticRegression(C = 0.1), X, Y, 10)

lr_time = (time.time() - start_time)

print("Accuracy: %s" % acc_lr)
print("Accuracy of CV: %s" % acc_cv_lr)
print("Execution time: %s" % lr_time)

Accuracy: 89.9
Accuracy of CV: 88.97
Execution time: 76.66110730171204

In [ ]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
from sklearn.neighbors import KNeighborsClassifier
start_time = time.time()
pred_now, acc_knn, acc_cv_knn, knn = fit_algo(KNeighborsClassifier(n_neighbors = 3)
                                        , X, Y, 10)
knn_time = (time.time() - start_time)
print("Accuracy: %s" % acc_knn)
print("Accuracy of CV: %s" % acc_cv_knn)
print("Execution time: %s" % knn_time)

In [ ]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
# Decision Tree
from sklearn.tree import DecisionTreeClassifier
start_time = time.time()
pred_now, acc_dt, acc_cv_dt, dt = fit_algo(DecisionTreeClassifier(random_state = 1)
                                        , X, Y, 10)

dt_time = (time.time() - start_time)

print("Accuracy: %s" % acc_dt)
print("Accuracy of CV: %s" % acc_cv_dt)
print("Execution time: %s" % dt_time)

In [ ]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
# Random Forest
from sklearn.ensemble import RandomForestClassifier
start_time = time.time()
pred_now, acc_rf, acc_cv_rf, rf = fit_algo(RandomForestClassifier(n_estimators = 100)
                                        , X, Y, 10)

rf_time = (time.time() - start_time)

print("Accuracy: %s" % acc_rf)
print("Accuracy of CV: %s" % acc_cv_rf)
print("Execution time: %s" % rf_time)

In [ ]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
# Gaussian Naive Bayes 
from sklearn.naive_bayes import GaussianNB
start_time = time.time()

pred_now, acc_gnb, acc_cv_gnb, gnb= fit_algo(GaussianNB()
                                        ,X,Y,5)

gnb_time = (time.time() - start_time)

print("Accuracy: %s" % acc_gnb)
print("Accuracy of CV: %s" % acc_cv_gnb)
print("Execution time: %s" % gnb_time)

In [ ]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
# Gradient Boosting


from sklearn.ensemble import GradientBoostingClassifier
start_time = time.time()

pred_now, acc_gbt, acc_cv_gbt, gbt= fit_algo(GradientBoostingClassifier()
                                        , X, Y, 10)

gbt_time = (time.time() - start_time)

print("Accuracy: %s" % acc_gbt)
print("Accuracy of CV: %s" % acc_cv_gbt)
print("Execution time: %s" % gbt_time)

In [ ]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
# Cross Validation Accuracy Comparison
algo_name = ['Log. Reg.', 'Decision Tree', 'RandomForest','Gaussian NB', 'GBC', 'KNN']
acc_df = pd.DataFrame({'Algorithm' : algo_name, 'CV Accuracy %' : [acc_cv_lr, acc_cv_dt, acc_cv_rf, acc_cv_gnb, acc_cv_gbt, acc_cv_knn] })
acc_df = acc_df.sort_values(by='CV Accuracy %', ascending = False)
acc_df = acc_df.reset_index(drop=True)
acc_df

In [ ]:

# Accuracy Comparison

algo_name = ['Log. Reg.', 'Decision Tree', 'RandomForest','Gaussian NB', 'GBC', 'KNN']
acc_df = pd.DataFrame({'Algorithm' : algo_name, 'Accuracy %' : [acc_lr, acc_dt, acc_rf, acc_gnb, acc_gbt, acc_knn] })
acc_df = acc_df.sort_values(by='Accuracy %', ascending = False)
acc_df = acc_df.reset_index(drop=True)
acc_df

In [ ]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
fimp_rf = pd.DataFrame({'Feature' : X.columns, 'Importance' : (rf.feature_importances_).astype(float)})
fimp_rf = fimp_rf.sort_values(by='Importance', ascending=False)
fimp_rf.head(37)

50%

In [20]:
x = data_drop.copy()

In [21]:
from sklearn.model_selection import train_test_split
SEED = 1

x_train, x_test = train_test_split(x, train_size = 0.50, random_state = SEED)

In [22]:
print(x_train.shape)
x_train.head()

(128836, 157)

           spkts     dpkts    sbytes  ...  state_REQ  state_RST  state_no
115986  0.007356  0.017859  0.000702  ...        0.0        0.0       0.0
201332  0.007356  0.000000  0.000518  ...        0.0        0.0       0.0
192002  0.007356  0.000000  0.001013  ...        0.0        0.0       0.0
80789   0.007356  0.000000  0.000380  ...        1.0        0.0       0.0
79769   0.000000  0.000000  0.000127  ...        0.0        0.0       0.0

[5 rows x 157 columns]

In [23]:
from sklearn import model_selection
from sklearn import metrics
X = x_train.drop("label", axis = 1)
Y = x_train["label"]

In [24]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
from sklearn.linear_model import LogisticRegression
start_time = time.time()

pred_now, acc_lr, acc_cv_lr, lr = fit_algo(LogisticRegression(C = 0.1), X, Y, 10)

lr_time = (time.time() - start_time)

print("Accuracy: %s" % acc_lr)
print("Accuracy of CV: %s" % acc_cv_lr)
print("Execution time: %s" % lr_time)

Accuracy: 89.89
Accuracy of CV: 89.84
Execution time: 37.959532260894775

In [25]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
from sklearn.neighbors import KNeighborsClassifier
start_time = time.time()
pred_now, acc_knn, acc_cv_knn, knn = fit_algo(KNeighborsClassifier(n_neighbors = 3)
                                        , X, Y, 10)
knn_time = (time.time() - start_time)
print("Accuracy: %s" % acc_knn)
print("Accuracy of CV: %s" % acc_cv_knn)
print("Execution time: %s" % knn_time)

Accuracy: 95.62
Accuracy of CV: 91.17
Execution time: 950.9041483402252

In [26]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
# Decision Tree


from sklearn.tree import DecisionTreeClassifier
start_time = time.time()
pred_now, acc_dt, acc_cv_dt, dt = fit_algo(DecisionTreeClassifier(random_state = 1)
                                        , X, Y, 10)

dt_time = (time.time() - start_time)

print("Accuracy: %s" % acc_dt)
print("Accuracy of CV: %s" % acc_cv_dt)
print("Execution time: %s" % dt_time)

Accuracy: 99.8
Accuracy of CV: 93.25
Execution time: 19.415203094482422

In [27]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
# Random Forest
from sklearn.ensemble import RandomForestClassifier
start_time = time.time()
pred_now, acc_rf, acc_cv_rf, rf = fit_algo(RandomForestClassifier(n_estimators = 100)
                                        , X, Y, 10)

rf_time = (time.time() - start_time)

print("Accuracy: %s" % acc_rf)
print("Accuracy of CV: %s" % acc_cv_rf)
print("Execution time: %s" % rf_time)

Accuracy: 99.8
Accuracy of CV: 94.71
Execution time: 172.2976884841919

In [28]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
# Gaussian Naive Bayes 
from sklearn.naive_bayes import GaussianNB
start_time = time.time()

pred_now, acc_gnb, acc_cv_gnb, gnb= fit_algo(GaussianNB()
                                        ,X,Y,5)

gnb_time = (time.time() - start_time)

print("Accuracy: %s" % acc_gnb)
print("Accuracy of CV: %s" % acc_cv_gnb)
print("Execution time: %s" % gnb_time)

Accuracy: 42.17
Accuracy of CV: 42.17
Execution time: 2.289635419845581

In [29]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
# Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier
start_time = time.time()

pred_now, acc_gbt, acc_cv_gbt, gbt= fit_algo(GradientBoostingClassifier()
                                        , X, Y, 10)

gbt_time = (time.time() - start_time)

print("Accuracy: %s" % acc_gbt)
print("Accuracy of CV: %s" % acc_cv_gbt)
print("Execution time: %s" % gbt_time)

Accuracy: 93.43
Accuracy of CV: 93.33
Execution time: 600.2451207637787

In [30]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda
# Cross Validation Accuracy Comparison


algo_name = ['Log. Reg.', 'Decision Tree', 'RandomForest','Gaussian NB', 'GBC', 'KNN']
acc_df = pd.DataFrame({'Algorithm' : algo_name, 'CV Accuracy %' : [acc_cv_lr, acc_cv_dt, acc_cv_rf, acc_cv_gnb, acc_cv_gbt, acc_cv_knn] })
acc_df = acc_df.sort_values(by='CV Accuracy %', ascending = False)
acc_df = acc_df.reset_index(drop=True)
acc_df

       Algorithm  CV Accuracy %
0   RandomForest          94.71
1            GBC          93.33
2  Decision Tree          93.25
3            KNN          91.17
4      Log. Reg.          89.84
5    Gaussian NB          42.17

In [31]:
# Accuracy Comparison

algo_name = ['Log. Reg.', 'Decision Tree', 'RandomForest','Gaussian NB', 'GBC', 'KNN']
acc_df = pd.DataFrame({'Algorithm' : algo_name, 'Accuracy %' : [acc_lr, acc_dt, acc_rf, acc_gnb, acc_gbt, acc_knn] })
acc_df = acc_df.sort_values(by='Accuracy %', ascending = False)
acc_df = acc_df.reset_index(drop=True)
acc_df

       Algorithm  Accuracy %
0  Decision Tree       99.80
1   RandomForest       99.80
2            KNN       95.62
3            GBC       93.43
4      Log. Reg.       89.89
5    Gaussian NB       42.17

In [32]:
#Code copied from: Omar AlHory, Python, https://www.kaggle.com/omaralhory/ids-data-eda

fimp_rf = pd.DataFrame({'Feature' : X.columns, 'Importance' : (rf.feature_importances_).astype(float)})
fimp_rf = fimp_rf.sort_values(by='Importance', ascending=False)
fimp_rf.head(37)

               Feature  Importance
4                 sttl    0.102895
22        ct_state_ttl    0.084435
2               sbytes    0.059444
6                sload    0.049951
5                 dttl    0.048940
7                dload    0.048068
18               smean    0.042490
3               dbytes    0.038187
29          ct_srv_dst    0.038122
11                sjit    0.035720
25      ct_dst_src_ltm    0.035139
17              ackdat    0.034650
16              synack    0.034237
10              dinpkt    0.032978
9               sinpkt    0.032900
19               dmean    0.030270
21          ct_srv_src    0.029396
24    ct_dst_sport_ltm    0.020803
0                spkts    0.020591
151          state_INT    0.020294
1                dpkts    0.017202
23          ct_dst_ltm    0.016381
12                swin    0.015584
28          ct_src_ltm    0.015478
14               dtcpb    0.014806
13               stcpb    0.013050
149          state_CON    0.009780
8                dloss    0.009122
137       service_None    0.008698
121          proto_tcp    0.007033
35           proto_arp    0.005714
126          proto_udp    0.004512
20   response_body_len    0.004368
30     is_sm_ips_ports    0.004027
15                dwin    0.003640
141       service_http    0.002883
153          state_REQ    0.002540